@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<SampleMvcCoreApp.Models.Employee>
@{
    
}
<script>
    function onCheck(){
        return confirm("DO U really want to Delete?");
    }
</script>
<div>
    <table class="table table-bordered">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Address</th>
            <th>Employee Salary</th>
            <th>Options</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmpId</td>
                <td>@item.EmpName</td>
                <td>@item.EmpAddress</td>
                <td>@item.EmpSalary</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.EmpId">Edit</a>
                    <a asp-action="Delete" onclick="return onCheck();" class="btn btn-secondary" asp-route-id="@item.EmpId">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>